inline-block {
    border-color: red;
    display: inline-block;
    vertical-align: top;
}

.logo {
    border-color: red;
    width: 23%;
    padding: 1%;
    text-align: center;
}

nav {
    border-color: red;
    width: 73%;
    padding: 1%;
}

ul {
    border-color: red;
    width: 50%;
    margin-left: auto;
}

.heroImg {
    border-color: red;
    height: 600px;
    padding: 25px;
}

content {
    border-color: red;
    width: 500px;
    margin: 0 auto;
}

footer {
    border-color: red;
    background-color: #373738;
}

footer ul {
    border-color: red;
    display: inline-block;
    vertical-align: top;
}

li {
    border-color: red;
    text-align: center;
    padding: 25px;
}